<div id="footer" class="container footer fixed-bottom mb-3">
  <div class="card bg-dark">
    <div class="card-body">
      <div class="row mb-4">
        <div class="col-sm-4">
          <div class="card-text footer-text pull-left">
            <div class="d-flex">
              <h1
                class="font-weight-bold mr-0 px-2"
                style="color: #16151a; background-color: #f86c74"
              >
                A
              </h1>
              <h1 style="color: #f86c74">BOUT ME</h1>
            </div>
            <p>
              Seasoned professional software developer with strong problem
              solving skills. Successfully designed, developed and deployed
              mission critical Java applications, as a full-time application
              developer, for various enterprises.
            </p>
          </div>
        </div>
        <div class="col-sm-3 offset-sm-1">
          <div class="card-text footer-text pull-left">
            <h5 class="heading">Links</h5>
            <ul>
              <li><a href="#home">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#strengths">Strengths</a></li>
              <li><a href="#experience">Experience</a></li>
              <li><a href="#education">Education</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-text footer-text pull-left">
            <h5 class="heading">Get in touch</h5>
            <form class="">
              <div class="form-group row mb-3">
                <div class="col-md-12 mb-0">
                  <input
                    required
                    id="name"
                    type="text"
                    placeholder="name"
                    name="name"
                    class="form-control input-box rm-border"
                  />
                </div>
              </div>
              <div class="form-group row mb-3">
                <div class="col-md-12 mb-0">
                  <input
                    required
                    id="email"
                    type="text"
                    placeholder="email"
                    name="email"
                    class="form-control input-box rm-border"
                  />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12 mb-2">
                  <textarea
                    required
                    id="message"
                    type="text"
                    placeholder="message"
                    name="message"
                    class="form-control input-box rm-border"
                  ></textarea>
                </div>
              </div>
              <div class="form-group text-center row mb-0">
                <div class="col-md-12 px-5 inputbutton">
                  <input
                    type="submit"
                    value="send email"
                    class="btn btn-block submit rm-border font-weight-bold"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
